<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - VISAGE</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h3>Admin Dashboard – User Roles</h3>

        <table border="1" align="center" cellpadding="8">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>

            {% for u in users %}
            <tr>
                <td>{{u[0]}}</td>
                <td>{{u[1]}}</td>
                <td>{{u[2]}}</td>
                <td>{{u[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
